.card {
    width: 250px;;
    margin-top: 5%;
    border-radius: 5%;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background:linear-gradient(to right, rgba(0,0,0,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(0,0,0,1));
}
.card:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


header{
    vertical-align:auto;
    position:fixed ;
    width: 100%;
    height: 100px;
    z-index: 20;
    background: linear-gradient(rgba(25,25,25,.99),rgba(150,150,150,.95));
}

.content{
    top: 100px;
    position: relative;
    padding-left: 1%; 
}
body,html{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-bottom: 0%;
    margin-top: 0%;
}
p{
    padding: 0px;
    margin: 0px;
    line-height: 17px;
    font-weight: bold;

}
h3{
    margin:0%;
}
.container{
    padding: 0%;
}
#para{
    text-align: center;
    color: white;
    line-height: 50px;
    text-decoration: underline;
    border-bottom: 3px;
    padding-bottom: 3px;
}